* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 100vw;
  background: black;
  z-index: -2;
}

.imgContainer {
  position: relative;
  text-align: center;
  color: white;
  width: 20%;
  height: 200px;
  border: 2px solid black;
  z-index: 1;
}

.imgContainer:hover {
  cursor: pointer;
}

.locationImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.locationImg:hover {
  opacity: 0.2;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  z-index: -1;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .imgContainer {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .imgContainer {
    width: 100%;
  }
}
