*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border: none;
  overflow-x: hidden;
  opacity: 1;
}

body {
  background-color: black;
  /* font-family: 'Heebo','Trebuchet MS', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; */
  font-family: "Gill Sans";
}

/* .destinationContainer::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/travel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  box-shadow: inset 0px 0px 150px black;
  transition: opacity 2s;
  
} */

.opacity {
  opacity: 1;
}

.fade {
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.destinationContainer {
  height: 100vh;
  position: relative;
  background-color: black;
  /* z-index: 0; */

  background-image: url("../img/travel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  box-shadow: inset 0px 0px 150px black;
  /* transition: 1s; */
  /* transition-delay: 1s; */
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  /* background-color: rgba(41, 39, 38, 0.6); */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 200px;
}

.location {
  font-size: 2.5rem;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* border: 2px solid white; */
  width: 100%;
}

.generateDestination {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: none;
  /* opacity: 0; */
  background-color: #ffffff00;
  /* background-image: url('../img/mapMarker3.png');
  background-position: center;
  background-size: cover;
  mix-blend-mode: multiply; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  color: white;
  /* border: 2px white solid; */
}

.generateDestination:hover {
  cursor: pointer;
}

.wiggle {
  animation: wiggle 1s ease-in;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(30deg);
  }
  37.5% {
    transform: rotate(-30deg);
  }
  62.5% {
    transform: rotate(30deg);
  }
  87.5% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.generateNoMarker {
  height: 70px;
  background-color: rgba(41, 39, 38, 0.6);
  border: 1px white solid;
}

.generateNoMarker:hover {
  color: black;
  background-color: rgba(242, 238, 236, 0.7);
}

.rotate {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.marker {
  width: 80%;
  height: 80%;
  /* border: 2px solid black; */
  object-fit: cover;
  object-position: center;
}

.footer {
  background-color: black;
  height: 300px;
}

.hamburger {
  display: block;
  padding: 0.5rem;
  position: fixed;
  color: white;
  z-index: 2;
}

.bar {
  display: block;

  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  z-index: 2;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-list {
  position: fixed;
  left: -100%;
  top: 0;
  /* height: 120px; */
  flex-direction: column;
  gap: 50px;
  margin: 0;
  padding: 0;
  background-color: rgba(41, 39, 38, 0.6);
  width: 20%;
  text-align: center;
  transition: 0.3s;
  border-radius: 0 0 5px 0;
  max-width: 300px;
  min-width: 130px;
}

.nav-list li {
  width: 100%;
  /* height: calc(100% / 3); */
  /* margin: 20px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.nav-item {
  width: 150px;
  height: 80%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list.active {
  left: 0;
}

@media (max-width: 600px) {
  .destinationContainer {
    height: 50vh;
    background-position: bottom;
    background-attachment: scroll;
  }
  .overlay {
    font-size: 0.7rem;
    max-height: 30vh;
    gap: 10px;
    /* border: 2px solid white; */
    justify-content: center;
  }

  .map {
    height: 25vh;
    width: 100vw;
  }

  .nav-list {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    width: 100%;
    border-radius: 0;
    padding: 0 30px;
    gap: 20px; */
    padding-top: 30px;
  }

  .nav-list li {
    height: 40px;
  }

  .generateDestination {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    overflow: visible;
  }

  .generateNoMarker {
    height: 50px;
  }

  .location {
    font-size: 1.9rem;
    overflow: visible;
  }

  .marker {
    overflow: visible;
  }

  footer {
    height: 25vh;
    /* border: 2px solid white; */
  }
}
